<div id="particles-js" url="{{ page.url }}">
  <div class="header">
    <h1>
      <span class="site-title">{{ site.user_name }}</span>
      <span class="site-description">{{ site.user_title }}</span>
      <span class="site-subdesc">{{ site.user_desc }}</span>
    </h1>

    <div class="header-icons">
      <span id="email" aria-label="Email" data-toggle="modal" data-target="#ModalCenter"><i
          class="icon fa fa-envelope" aria-hidden="true"></i></span>
      <span id="qq" aria-label="QQ" data-toggle="modal" data-target="#ModalCenter"><i class="icon fa fa-qq"
          aria-hidden="true"></i></span>
      <span id="wechat" aria-label="Wechat" data-toggle="modal" data-target="#ModalCenter"><i
          class="icon fa fa-wechat" aria-hidden="true"></i></span>
      <a id="linkedin" aria-label="LinkedIn" target="_blank" href="https://www.linkedin.com/feed/"><i class="icon fa fa-linkedin"
          aria-hidden="true"></i></a>
      <a id="github" aria-label="Github" target="_blank" href="{{ site.github }}"><i class="icon fa fa-github-alt"
          aria-hidden="true"></i></a>
    </div>

  </div>
  <a class="down" href="#bnavbar" name="hidedown" data-scroll><i class="icon fa fa-chevron-down"
      aria-hidden="true"></i></a>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title" id="ModalCenterTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="font-size: 1.5rem;">
        <input id="ModalCenterContent" style="width:100%; height:100%;">
      </div>
      <div class="modal-footer">
        <button id="btn-copy" type="button" class="btn btn-primary"
          data-clipboard-target="#ModalCenterContent">保存到剪贴板</button>
      </div>
    </div>
  </div>
</div>

<script>
  $('#ModalCenter').on('show.bs.modal', function (e) {
    console.log(e.relatedTarget.title)
    var title = ""
    var content = ""
    if (e.relatedTarget.id == "email") {
      title = "电子邮件"
      content = "{{ site.email }}"
    }
    else if (e.relatedTarget.id == "qq") {
      title = "QQ"
      content = "{{ site.qq }}"
    }
    else if (e.relatedTarget.id == "wechat") {
      title = "微信"
      content = "{{ site.wechat }}"
    }
    $("#ModalCenterTitle").text("Burnian的" + title)
    $("#ModalCenterContent").val(content)
  })

  var clipboard = new ClipboardJS('#btn-copy');
  clipboard.on('success', function (e) {
    // console.info('Action:', e.action);
    // console.info('Text:', e.text);
    // console.info('Trigger:', e.trigger);
    e.clearSelection();
  });
</script>