<div id="particles-js" url="{{ page.url }}">
  <div class="header">
    <h1>
      <span class="site-title">{{ site.user_name }}</span>
      <span class="site-description">{{ site.user_title }}</span>
    </h1>

    <div class="header-icons">
      <a aria-label="Send email" href="mailto:{{ site.email }}"><i class="icon fa fa-envelope"
          aria-hidden="true"></i></a>
      <a aria-label="My QQ" target="_blank" href="https://user.qzone.qq.com/791829698"><i class="icon fa fa-qq"
          aria-hidden="true"></i></a>
      <a aria-label="My Wechat" target="_blank" href="#"><i class="icon fa fa-wechat"
          aria-hidden="true"></i></a>
      <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/feed/"><i class="icon fa fa-linkedin"
          aria-hidden="true"></i></a>
      <a aria-label="My Github" target="_blank" href="{{ site.github }}"><i class="icon fa fa-github-alt"
          aria-hidden="true"></i></a>
    </div>

  </div>
  <a class="down" href="#bnavbar" name="hidedown" data-scroll><i class="icon fa fa-chevron-down"
      aria-hidden="true"></i></a>
</div>