<nav id="bnavbar" class="navbar navbar-expand-md navbar-dark sticky-top">
  <img class="brand-image" src="/assets/img/burnian_logo.png"></img>
  <div class="navbar-brand">{{ site.user_name }}</div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      {% for item in site.data.navigation %}
      {% if page.title == item.name %}
      <li id="{{ item.id }}" class="nav-item active">
        <span class="nav-link bnav-font">
          {% if site.language %}
          {{ site.data.language[item.name] }}
          {% else %}
          {{ item.name }}
          {% endif %}
        </span>
      </li>
      {% else %}
      <li id="{{ item.id }}" class="nav-item">
        <a class="nav-link bnav-font" href="{{ item.link | prepend: site.baseurl | prepend: site.url }}">
          {% if site.language %}
          {{ site.data.language[item.name] }}
          {% else %}
          {{ item.name }}
          {% endif %}
        </a>
      </li>
      {% endif %}
      {% endfor %}

      <li id="navbar-categories" class="nav-item dropdown" style="font-size: 20px;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {% if site.language %}
          {{ site.data.language['Categories'] }}
          {% else %}
          Categories
          {% endif %}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {% for category in site.categories %}
          {% assign str = category[0] %}
          {% if page.title == category[0] %}
          <span class="dropdown-item active">
            {% if site.language %}
            {{ site.data.language[str] }}
            {% else %}
            {{ str }}
            {% endif %}
            <i class="badge badge-pill badge-secondary"
              style="float: right;margin-top: 3px;">{{ category[1].size }}</i></span>
          {% else %}
          <a class="dropdown-item" href="/pages/{{ category[0] }}/">
            {% if site.language %}
            {{ site.data.language[str] }}
            {% else %}
            {{ str }}
            {% endif %}
            <i class="badge badge-pill badge-secondary"
              style="float: right;margin-top: 3px;">{{ category[1].size }}</i></a>
          {% endif %}
          {% endfor %}
          <!-- <div class="dropdown-divider"></div> -->
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

  </div>
</nav>