.bnav-font {
  font-size: 1.25rem;
}

body {
  font-family: "Microsoft Yahei";
  background-color: $third;
}

bcard {
  margin: 20px 0px;
  padding: 5px;
  height: 200px;
  cursor: pointer;
}

// div {
//   border-style: solid;
//   border-width: 1px;
// }

#bnavbar {
  background-color: $main;
}

.bbrand {
  padding: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  border-radius: .5rem;
  cursor: pointer;
}

.intimate {
  padding: 0px;
  margin: 0px;
}

.bfontsize-xs {
  @media only screen and (max-width: $sm) {
    font-size: 1.25rem;
  }
}

.sheet {
  padding: 30px 30px;
  word-break: break-all;
  background-color: #f8f8fd;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
}

article {
  padding: 6px 0px 8px 0px;
  margin-top: 3em;

  header {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
    margin-left: 5px;
    line-height: 1em;
    text-shadow: 0 1px #fff;
    font-weight: bold;
    display: block;

    a {
      color: #666;
    }
  }

  .module {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 25px;
    border-bottom: 1px solid #b1b1b1;
    background: #f8f8fd;

    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
    -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4), 0 0 30px rgba(10, 10, 0, 0.1) inset;
  }

  .title {
    font-size: 1.6em;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;

    margin-left: -25px;
    padding-left: 20px;
    border-left: 5px solid #2ca6cb;
  }

  .readmore {
    display: inline-block;
    line-height: 1em;
    padding: 6px 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    background: #eee;
    color: #999;
    text-shadow: 0 1px #fff;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 20px;

    :hover {
      background: #258fb8;
      color: #fff;
      text-decoration: none;
      text-shadow: 0 1px #1e7293;
    }
  }

  footer {
    font-size: .85em;
    line-height: 1.6em;
    border-top: 1px solid #ddd;
    padding-top: 1.6em;
    margin: 0;

    a {
      color: #999;
      margin-right: 15px;
    }
  }
}








// .user-details {
//   text-align: center;
//   margin: 5px auto;
//   h1 {
//     font-weight: 400;
//   }
// }