---
layout: default
---

<div class="row justify-content-center">
  <div class="col-md-9 col-lg-8 col-xl-7 col-xxl-6 col-xxxl-5 intimate">
    <div class="sheet post">
      <header>
        <h2>{{ page.title }}</h2>
        <p class="post-meta">
          <span class="fa fa-calendar"></span> {{ page.date | date_to_long_string: "ordinal" }}{% if page.author %} •
          {{ page.author }}{% endif %}
        </p>
        <p class="post-tag">
          <!-- <span>{% for cat in page.categories %}<a
              href="{{ '/category' | prepend: site.baseurl | prepend: site.url }}/#{{ cat }}"><span
                class="octicon octicon-list-unordered"></span>&nbsp;{{ cat }}</a>{% endfor %}</span> -->
          {% for tag in page.tags %}
          <!-- <a class="word-keep" href="{{ '/tags' | prepend: site.baseurl | prepend: site.url }}/#{{ tag }}"><span
                class="octicon octicon-tag"></span>&nbsp;{{ tag }}</a> -->
          <span class="fa fa-tag"></span>&nbsp;{{ tag }}&nbsp;&nbsp;&nbsp;
          {% endfor %}
        </p>
      </header>
      <hr class="boundary">
      <article>
        {{ content }}
      </article>
      <hr class="boundary">
    </div>
  </div>
</div>